{
  "openapi": "3.0.0",
  "info": {
    "title": "Tessie API",
    "version": "1.0.0",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "The Tesla management platform.",
    "contact": {
      "name": "Tessie",
      "url": "https://tessie.com",
      "email": "support@tessie.com"
    },
    "x-logo": {
      "url": ""
    },
    "termsOfService": "https://tessie.com/terms"
  },
  "servers": [
    {
      "url": "https://api.tessie.com"
    }
  ],
  "paths": {
    "/{vin}/state": {
      "get": {
        "tags": [
          "Vehicle Data"
        ],
        "parameters": [
          {
            "name": "vin",
            "description": "The associated VIN.",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "deprecated": false,
            "x-last-modified": 1643747623235,
            "example": "5YJXCAE43LF123456"
          },
          {
            "name": "use_cache",
            "description": "Whether to return the most recently seen data. Set to false to retrieve the vehicle state in real-time. If true, doesn't impact vehicle sleep and always returns a complete set of data.",
            "schema": {
              "default": true,
              "type": "boolean"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Vehicle State",
                  "description": "The state of a vehicle.\n\nFields will change depending on vehicle hardware and software versions.",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "example": 1492931520123456
                    },
                    "vin": {
                      "type": "string",
                      "example": "5YJXCAE43LF123456"
                    },
                    "state": {
                      "type": "string",
                      "example": "online"
                    },
                    "in_service": {
                      "type": "boolean"
                    },
                    "access_type": {
                      "type": "string",
                      "example": "OWNER"
                    },
                    "api_version": {
                      "type": "number",
                      "example": 34
                    },
                    "drive_state": {
                      "type": "object",
                      "properties": {
                        "power": {
                          "type": "number",
                          "example": 0
                        },
                        "speed": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "heading": {
                          "type": "number",
                          "example": 194
                        },
                        "latitude": {
                          "type": "number",
                          "example": 40.7484
                        },
                        "gps_as_of": {
                          "type": "number",
                          "example": 1643590638
                        },
                        "longitude": {
                          "type": "number",
                          "example": 73.9857
                        },
                        "timestamp": {
                          "type": "number",
                          "example": 1643590652755
                        },
                        "native_type": {
                          "type": "string",
                          "example": "wgs"
                        },
                        "shift_state": {
                          "type": "string",
                          "example": "P"
                        },
                        "native_latitude": {
                          "type": "number",
                          "example": 40.7484
                        },
                        "native_longitude": {
                          "type": "number",
                          "example": 73.9857
                        },
                        "native_location_supported": {
                          "type": "number",
                          "example": 1
                        },
                        "cruise_state": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "9dgo14qdzsh1v"
                          }
                        },
                        "autopilot": {
                          "type": "boolean",
                          "x-stoplight": {
                            "id": "yh59icj9chqg2"
                          }
                        }
                      }
                    },
                    "charge_state": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "number",
                          "example": 1643590652755
                        },
                        "charge_amps": {
                          "type": "number",
                          "example": 12
                        },
                        "charge_rate": {
                          "type": "number",
                          "example": 0
                        },
                        "battery_level": {
                          "type": "number",
                          "example": 89
                        },
                        "battery_range": {
                          "type": "number",
                          "example": 269.01
                        },
                        "charger_power": {
                          "type": "number",
                          "example": 0
                        },
                        "trip_charging": {
                          "type": "boolean"
                        },
                        "charger_phases": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "charging_state": {
                          "type": "string",
                          "example": "Complete"
                        },
                        "charger_voltage": {
                          "type": "number",
                          "example": 0
                        },
                        "charge_limit_soc": {
                          "type": "number",
                          "example": 90
                        },
                        "battery_heater_on": {
                          "type": "boolean"
                        },
                        "charge_port_color": {
                          "type": "string",
                          "example": "Off"
                        },
                        "charge_port_latch": {
                          "type": "string",
                          "example": "Engaged"
                        },
                        "conn_charge_cable": {
                          "type": "string",
                          "example": "SAE"
                        },
                        "est_battery_range": {
                          "type": "number",
                          "example": 223.25
                        },
                        "fast_charger_type": {
                          "type": "string",
                          "example": "MCSingleWireCAN"
                        },
                        "fast_charger_brand": {
                          "type": "string",
                          "example": "<invalid>"
                        },
                        "charge_energy_added": {
                          "type": "number",
                          "example": 4.64
                        },
                        "charge_to_max_range": {
                          "type": "boolean"
                        },
                        "ideal_battery_range": {
                          "type": "number",
                          "example": 999
                        },
                        "time_to_full_charge": {
                          "type": "number",
                          "example": 0
                        },
                        "charge_limit_soc_max": {
                          "type": "number",
                          "example": 100
                        },
                        "charge_limit_soc_min": {
                          "type": "number",
                          "example": 50
                        },
                        "charge_limit_soc_std": {
                          "type": "number",
                          "example": 90
                        },
                        "fast_charger_present": {
                          "type": "boolean"
                        },
                        "usable_battery_level": {
                          "type": "number",
                          "example": 89
                        },
                        "charge_enable_request": {
                          "type": "boolean"
                        },
                        "charge_port_door_open": {
                          "type": "boolean"
                        },
                        "charger_pilot_current": {
                          "type": "number",
                          "example": 12
                        },
                        "preconditioning_times": {
                          "type": "string",
                          "example": "weekdays"
                        },
                        "charge_current_request": {
                          "type": "number",
                          "example": 12
                        },
                        "charger_actual_current": {
                          "type": "number",
                          "example": 0
                        },
                        "minutes_to_full_charge": {
                          "type": "number",
                          "example": 0
                        },
                        "managed_charging_active": {
                          "type": "boolean"
                        },
                        "off_peak_charging_times": {
                          "type": "string",
                          "example": "all_week"
                        },
                        "off_peak_hours_end_time": {
                          "type": "number",
                          "example": 375
                        },
                        "preconditioning_enabled": {
                          "type": "boolean"
                        },
                        "scheduled_charging_mode": {
                          "type": "string",
                          "example": "Off"
                        },
                        "charge_miles_added_ideal": {
                          "type": "number",
                          "example": 4641
                        },
                        "charge_miles_added_rated": {
                          "type": "number",
                          "example": 14.5
                        },
                        "max_range_charge_counter": {
                          "type": "number",
                          "example": 0
                        },
                        "not_enough_power_to_heat": {
                          "type": "boolean"
                        },
                        "scheduled_departure_time": {
                          "type": "number",
                          "example": 1643578200
                        },
                        "off_peak_charging_enabled": {
                          "type": "boolean"
                        },
                        "charge_current_request_max": {
                          "type": "number",
                          "example": 12
                        },
                        "scheduled_charging_pending": {
                          "type": "boolean"
                        },
                        "user_charge_enable_request": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "managed_charging_start_time": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "charge_port_cold_weather_mode": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "scheduled_charging_start_time": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "managed_charging_user_canceled": {
                          "type": "boolean"
                        },
                        "scheduled_departure_time_minutes": {
                          "type": "number",
                          "example": 810
                        },
                        "scheduled_charging_start_time_app": {
                          "type": "number",
                          "example": 817
                        },
                        "supercharger_session_trip_planner": {
                          "type": "boolean"
                        },
                        "pack_current": {
                          "type": "number",
                          "example": 1.4
                        },
                        "pack_voltage": {
                          "type": "number",
                          "example": 217.4
                        },
                        "module_temp_min": {
                          "type": "number",
                          "example": 21.1
                        },
                        "module_temp_max": {
                          "type": "number",
                          "example": 22.3
                        },
                        "energy_remaining": {
                          "type": "number",
                          "example": 58.435
                        },
                        "lifetime_energy_used": {
                          "type": "number",
                          "example": 12345.6,
                          "x-stoplight": {
                            "id": "ejac2isjco1kf"
                          }
                        }
                      }
                    },
                    "display_name": {
                      "type": "string",
                      "example": "Seneca"
                    },
                    "gui_settings": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "number",
                          "example": 1643590652755
                        },
                        "gui_24_hour_time": {
                          "type": "boolean"
                        },
                        "show_range_units": {
                          "type": "boolean"
                        },
                        "gui_range_display": {
                          "type": "string",
                          "example": "Rated"
                        },
                        "gui_distance_units": {
                          "type": "string",
                          "example": "mi/hr"
                        },
                        "gui_charge_rate_units": {
                          "type": "string",
                          "example": "kW"
                        },
                        "gui_temperature_units": {
                          "type": "string",
                          "example": "F"
                        }
                      }
                    },
                    "option_codes": {
                      "type": "string",
                      "example": "AD15MDL3PBSBRENABT37ID3WRF3GS3PBDRLHDV2WW39BAPF0COUSBC3BCH07PC30FC3PFG31GLFRHL31HM31IL31LTPBMR31FM3BRS3HSA3PSTCPSC04SU3CT3CATW00TM00UT3PWR00AU3PAPH3AF00ZCSTMI00CDM0"
                    },
                    "climate_state": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "number",
                          "example": 1643590652755
                        },
                        "fan_status": {
                          "type": "number",
                          "example": 0
                        },
                        "inside_temp": {
                          "type": "number",
                          "example": 24.3
                        },
                        "defrost_mode": {
                          "type": "number",
                          "example": 0
                        },
                        "outside_temp": {
                          "type": "number",
                          "example": 17.5
                        },
                        "is_climate_on": {
                          "type": "boolean"
                        },
                        "battery_heater": {
                          "type": "boolean"
                        },
                        "bioweapon_mode": {
                          "type": "boolean"
                        },
                        "max_avail_temp": {
                          "type": "number",
                          "example": 28
                        },
                        "min_avail_temp": {
                          "type": "number",
                          "example": 15
                        },
                        "seat_heater_left": {
                          "type": "number",
                          "example": 0
                        },
                        "hvac_auto_request": {
                          "type": "string",
                          "example": "On"
                        },
                        "seat_heater_right": {
                          "type": "number",
                          "example": 0
                        },
                        "is_preconditioning": {
                          "type": "boolean"
                        },
                        "wiper_blade_heater": {
                          "type": "boolean"
                        },
                        "climate_keeper_mode": {
                          "type": "string",
                          "example": "off"
                        },
                        "driver_temp_setting": {
                          "type": "number",
                          "example": 22.8
                        },
                        "left_temp_direction": {
                          "type": "number",
                          "example": 0
                        },
                        "side_mirror_heaters": {
                          "type": "boolean"
                        },
                        "is_rear_defroster_on": {
                          "type": "boolean"
                        },
                        "right_temp_direction": {
                          "type": "number",
                          "example": 0
                        },
                        "is_front_defroster_on": {
                          "type": "boolean"
                        },
                        "seat_heater_rear_left": {
                          "type": "number",
                          "example": 0
                        },
                        "steering_wheel_heater": {
                          "type": "boolean"
                        },
                        "passenger_temp_setting": {
                          "type": "number",
                          "example": 22.8
                        },
                        "seat_heater_rear_right": {
                          "type": "number",
                          "example": 0
                        },
                        "battery_heater_no_power": {
                          "type": "boolean"
                        },
                        "is_auto_conditioning_on": {
                          "type": "boolean"
                        },
                        "seat_heater_rear_center": {
                          "type": "number",
                          "example": 0
                        },
                        "cabin_overheat_protection": {
                          "type": "string",
                          "example": "On"
                        },
                        "seat_heater_third_row_left": {
                          "type": "number",
                          "example": 0
                        },
                        "seat_heater_third_row_right": {
                          "type": "number",
                          "example": 0
                        },
                        "remote_heater_control_enabled": {
                          "type": "boolean"
                        },
                        "allow_cabin_overheat_protection": {
                          "type": "boolean"
                        },
                        "supports_fan_only_cabin_overheat_protection": {
                          "type": "boolean"
                        }
                      }
                    },
                    "vehicle_state": {
                      "type": "object",
                      "properties": {
                        "df": {
                          "type": "number",
                          "example": 0
                        },
                        "dr": {
                          "type": "number",
                          "example": 0
                        },
                        "ft": {
                          "type": "number",
                          "example": 0
                        },
                        "pf": {
                          "type": "number",
                          "example": 0
                        },
                        "pr": {
                          "type": "number",
                          "example": 0
                        },
                        "rt": {
                          "type": "number",
                          "example": 0
                        },
                        "locked": {
                          "type": "boolean"
                        },
                        "odometer": {
                          "type": "number",
                          "example": 14096.485641
                        },
                        "fd_window": {
                          "type": "number",
                          "example": 0
                        },
                        "fp_window": {
                          "type": "number",
                          "example": 0
                        },
                        "rd_window": {
                          "type": "number",
                          "example": 0
                        },
                        "rp_window": {
                          "type": "number",
                          "example": 0
                        },
                        "timestamp": {
                          "type": "number",
                          "example": 1643590652755
                        },
                        "santa_mode": {
                          "type": "number",
                          "example": 0
                        },
                        "valet_mode": {
                          "type": "boolean"
                        },
                        "api_version": {
                          "type": "number",
                          "example": 34
                        },
                        "car_version": {
                          "type": "string",
                          "example": "2022.4 fae2af490933"
                        },
                        "media_state": {
                          "type": "object",
                          "properties": {
                            "remote_control_enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "sentry_mode": {
                          "type": "boolean"
                        },
                        "remote_start": {
                          "type": "boolean"
                        },
                        "vehicle_name": {
                          "type": "string",
                          "example": "Seneca"
                        },
                        "dashcam_state": {
                          "type": "string",
                          "example": "Unavailable"
                        },
                        "autopark_style": {
                          "type": "string",
                          "example": "standard"
                        },
                        "homelink_nearby": {
                          "type": "boolean"
                        },
                        "is_user_present": {
                          "type": "boolean"
                        },
                        "software_update": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "available"
                            },
                            "version": {
                              "type": "string",
                              "example": "2022.4"
                            },
                            "install_perc": {
                              "type": "number",
                              "example": 1
                            },
                            "download_perc": {
                              "type": "number",
                              "example": 0
                            },
                            "expected_duration_sec": {
                              "type": "number",
                              "example": 2700
                            }
                          }
                        },
                        "speed_limit_mode": {
                          "type": "object",
                          "properties": {
                            "active": {
                              "type": "boolean"
                            },
                            "pin_code_set": {
                              "type": "boolean"
                            },
                            "max_limit_mph": {
                              "type": "number",
                              "example": 90
                            },
                            "min_limit_mph": {
                              "type": "number",
                              "example": 50
                            },
                            "current_limit_mph": {
                              "type": "number",
                              "example": 84
                            }
                          }
                        },
                        "tpms_pressure_fl": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "tpms_pressure_fr": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "tpms_pressure_rl": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "tpms_pressure_rr": {
                          "format": "nullable",
                          "type": "string"
                        },
                        "autopark_state_v2": {
                          "type": "string",
                          "example": "standby"
                        },
                        "calendar_supported": {
                          "type": "boolean"
                        },
                        "last_autopark_error": {
                          "type": "string",
                          "example": "no_error"
                        },
                        "center_display_state": {
                          "type": "number",
                          "example": 0
                        },
                        "remote_start_enabled": {
                          "type": "boolean"
                        },
                        "homelink_device_count": {
                          "type": "number",
                          "example": 0
                        },
                        "sentry_mode_available": {
                          "type": "boolean"
                        },
                        "remote_start_supported": {
                          "type": "boolean"
                        },
                        "smart_summon_available": {
                          "type": "boolean"
                        },
                        "notifications_supported": {
                          "type": "boolean"
                        },
                        "parsed_calendar_supported": {
                          "type": "boolean"
                        },
                        "dashcam_clip_save_available": {
                          "type": "boolean"
                        },
                        "summon_standby_mode_enabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "backseat_token": {
                      "format": "nullable",
                      "type": "string"
                    },
                    "vehicle_config": {
                      "type": "object",
                      "properties": {
                        "plg": {
                          "type": "boolean"
                        },
                        "pws": {
                          "type": "boolean"
                        },
                        "rhd": {
                          "type": "boolean"
                        },
                        "car_type": {
                          "type": "string",
                          "example": "modelx"
                        },
                        "seat_type": {
                          "type": "number",
                          "example": 0
                        },
                        "timestamp": {
                          "type": "number",
                          "example": 1643590652755
                        },
                        "eu_vehicle": {
                          "type": "boolean"
                        },
                        "roof_color": {
                          "type": "string",
                          "example": "None"
                        },
                        "utc_offset": {
                          "type": "number",
                          "example": -28800
                        },
                        "wheel_type": {
                          "type": "string",
                          "example": "Turbine22Dark"
                        },
                        "spoiler_type": {
                          "type": "string",
                          "example": "Passive"
                        },
                        "trim_badging": {
                          "type": "string",
                          "example": "p100d"
                        },
                        "driver_assist": {
                          "type": "string",
                          "example": "TeslaAP3"
                        },
                        "headlamp_type": {
                          "type": "string",
                          "example": "Led"
                        },
                        "exterior_color": {
                          "type": "string",
                          "example": "Pearl"
                        },
                        "rear_seat_type": {
                          "type": "number",
                          "example": 7
                        },
                        "rear_drive_unit": {
                          "type": "string",
                          "example": "Large"
                        },
                        "third_row_seats": {
                          "type": "string",
                          "example": "FuturisFoldFlat"
                        },
                        "car_special_type": {
                          "type": "string",
                          "example": "base"
                        },
                        "charge_port_type": {
                          "type": "string",
                          "example": "US"
                        },
                        "ece_restrictions": {
                          "type": "boolean"
                        },
                        "front_drive_unit": {
                          "type": "string",
                          "example": "PermanentMagnet"
                        },
                        "has_seat_cooling": {
                          "type": "boolean"
                        },
                        "rear_seat_heaters": {
                          "type": "number",
                          "example": 3
                        },
                        "use_range_badging": {
                          "type": "boolean"
                        },
                        "can_actuate_trunks": {
                          "type": "boolean"
                        },
                        "efficiency_package": {
                          "type": "string",
                          "example": "Default"
                        },
                        "has_air_suspension": {
                          "type": "boolean"
                        },
                        "has_ludicrous_mode": {
                          "type": "boolean"
                        },
                        "interior_trim_type": {
                          "type": "string",
                          "example": "AllBlack"
                        },
                        "sun_roof_installed": {
                          "type": "number",
                          "example": 0
                        },
                        "default_charge_to_max": {
                          "type": "boolean"
                        },
                        "motorized_charge_port": {
                          "type": "boolean"
                        },
                        "dashcam_clip_save_supported": {
                          "type": "boolean"
                        },
                        "can_accept_navigation_requests": {
                          "type": "boolean"
                        }
                      }
                    },
                    "calendar_enabled": {
                      "type": "boolean"
                    },
                    "backseat_token_updated_at": {
                      "format": "nullable",
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": 1492931520123456,
                      "vin": "5YJXCAE43LF123456",
                      "id_s": "1492931520123456",
                      "color": "string",
                      "state": "online",
                      "tokens": [
                        "ca87a16a64123456"
                      ],
                      "user_id": 1311857,
                      "in_service": true,
                      "vehicle_id": 1349238573,
                      "access_type": "OWNER",
                      "api_version": 34,
                      "drive_state": {
                        "power": 0,
                        "speed": "string",
                        "heading": 194,
                        "latitude": 40.7484,
                        "gps_as_of": 1643590638,
                        "longitude": 73.9857,
                        "timestamp": 1643590652755,
                        "native_type": "wgs",
                        "shift_state": "P",
                        "native_latitude": 40.7484,
                        "native_longitude": 73.9857,
                        "native_location_supported": 1,
                        "active_route_latitude": -1.123456,
                        "active_route_longitude": 1.123456,
                        "active_route_minutes_to_arrival": 5.12345,
                        "active_route_miles_to_arrival": 4.12345,
                        "cruise_state": "Standby",
                        "autopilot": false
                      },
                      "charge_state": {
                        "timestamp": 1643590652755,
                        "charge_amps": 12,
                        "charge_rate": 0,
                        "battery_level": 89,
                        "battery_range": 269.01,
                        "charger_power": 0,
                        "trip_charging": true,
                        "charger_phases": "string",
                        "charging_state": "Complete",
                        "charger_voltage": 0,
                        "charge_limit_soc": 90,
                        "battery_heater_on": true,
                        "charge_port_color": "Off",
                        "charge_port_latch": "Engaged",
                        "conn_charge_cable": "SAE",
                        "est_battery_range": 223.25,
                        "fast_charger_type": "MCSingleWireCAN",
                        "fast_charger_brand": "<invalid>",
                        "charge_energy_added": 4.64,
                        "charge_to_max_range": true,
                        "ideal_battery_range": 999,
                        "time_to_full_charge": 0,
                        "charge_limit_soc_max": 100,
                        "charge_limit_soc_min": 50,
                        "charge_limit_soc_std": 90,
                        "fast_charger_present": true,
                        "usable_battery_level": 89,
                        "charge_enable_request": true,
                        "charge_port_door_open": true,
                        "charger_pilot_current": 12,
                        "preconditioning_times": "weekdays",
                        "charge_current_request": 12,
                        "charger_actual_current": 0,
                        "minutes_to_full_charge": 0,
                        "managed_charging_active": true,
                        "off_peak_charging_times": "all_week",
                        "off_peak_hours_end_time": 375,
                        "preconditioning_enabled": true,
                        "scheduled_charging_mode": "Off",
                        "charge_miles_added_ideal": 4641,
                        "charge_miles_added_rated": 14.5,
                        "max_range_charge_counter": 0,
                        "not_enough_power_to_heat": true,
                        "scheduled_departure_time": 1643578200,
                        "off_peak_charging_enabled": true,
                        "charge_current_request_max": 12,
                        "scheduled_charging_pending": true,
                        "user_charge_enable_request": "string",
                        "managed_charging_start_time": "string",
                        "charge_port_cold_weather_mode": "string",
                        "scheduled_charging_start_time": "string",
                        "managed_charging_user_canceled": true,
                        "scheduled_departure_time_minutes": 810,
                        "scheduled_charging_start_time_app": 817,
                        "supercharger_session_trip_planner": true,
                        "pack_current": -0.7,
                        "pack_voltage": 419.79,
                        "module_temp_min": 25.5,
                        "module_temp_max": 26,
                        "energy_remaining": 51.26,
                        "lifetime_energy_used": 5224.713
                      },
                      "display_name": "Seneca",
                      "gui_settings": {
                        "timestamp": 1643590652755,
                        "gui_24_hour_time": true,
                        "show_range_units": true,
                        "gui_range_display": "Rated",
                        "gui_distance_units": "mi/hr",
                        "gui_charge_rate_units": "kW",
                        "gui_temperature_units": "F"
                      },
                      "option_codes": "AD15MDL3PBSBRENABT37ID3WRF3GS3PBDRLHDV2WW39BAPF0COUSBC3BCH07PC30FC3PFG31GLFRHL31HM31IL31LTPBMR31FM3BRS3HSA3PSTCPSC04SU3CT3CATW00TM00UT3PWR00AU3PAPH3AF00ZCSTMI00CDM0",
                      "climate_state": {
                        "timestamp": 1643590652755,
                        "fan_status": 0,
                        "inside_temp": 24.3,
                        "defrost_mode": 0,
                        "outside_temp": 17.5,
                        "is_climate_on": true,
                        "battery_heater": true,
                        "bioweapon_mode": true,
                        "max_avail_temp": 28,
                        "min_avail_temp": 15,
                        "seat_heater_left": 0,
                        "hvac_auto_request": "On",
                        "seat_heater_right": 0,
                        "is_preconditioning": true,
                        "wiper_blade_heater": true,
                        "climate_keeper_mode": "off",
                        "driver_temp_setting": 22.8,
                        "left_temp_direction": 0,
                        "side_mirror_heaters": true,
                        "is_rear_defroster_on": true,
                        "right_temp_direction": 0,
                        "is_front_defroster_on": true,
                        "seat_heater_rear_left": 0,
                        "steering_wheel_heater": true,
                        "passenger_temp_setting": 22.8,
                        "seat_heater_rear_right": 0,
                        "battery_heater_no_power": true,
                        "is_auto_conditioning_on": true,
                        "seat_heater_rear_center": 0,
                        "cabin_overheat_protection": "On",
                        "seat_heater_third_row_left": 0,
                        "seat_heater_third_row_right": 0,
                        "remote_heater_control_enabled": true,
                        "allow_cabin_overheat_protection": true,
                        "supports_fan_only_cabin_overheat_protection": true
                      },
                      "vehicle_state": {
                        "df": 0,
                        "dr": 0,
                        "ft": 0,
                        "pf": 0,
                        "pr": 0,
                        "rt": 0,
                        "locked": true,
                        "odometer": 14096.485641,
                        "fd_window": 0,
                        "fp_window": 0,
                        "rd_window": 0,
                        "rp_window": 0,
                        "timestamp": 1643590652755,
                        "santa_mode": 0,
                        "valet_mode": true,
                        "api_version": 34,
                        "car_version": "2022.4 fae2af490933",
                        "media_state": {
                          "remote_control_enabled": true
                        },
                        "sentry_mode": true,
                        "remote_start": true,
                        "vehicle_name": "Seneca",
                        "dashcam_state": "Unavailable",
                        "autopark_style": "standard",
                        "homelink_nearby": true,
                        "is_user_present": true,
                        "software_update": {
                          "status": "available",
                          "version": "2022.4",
                          "install_perc": 1,
                          "download_perc": 0,
                          "expected_duration_sec": 2700
                        },
                        "speed_limit_mode": {
                          "active": true,
                          "pin_code_set": true,
                          "max_limit_mph": 90,
                          "min_limit_mph": 50,
                          "current_limit_mph": 84
                        },
                        "tpms_pressure_fl": "string",
                        "tpms_pressure_fr": "string",
                        "tpms_pressure_rl": "string",
                        "tpms_pressure_rr": "string",
                        "autopark_state_v2": "standby",
                        "calendar_supported": true,
                        "last_autopark_error": "no_error",
                        "center_display_state": 0,
                        "remote_start_enabled": true,
                        "homelink_device_count": 0,
                        "sentry_mode_available": true,
                        "remote_start_supported": true,
                        "smart_summon_available": true,
                        "notifications_supported": true,
                        "parsed_calendar_supported": true,
                        "dashcam_clip_save_available": true,
                        "summon_standby_mode_enabled": true
                      },
                      "backseat_token": "string",
                      "vehicle_config": {
                        "plg": true,
                        "pws": true,
                        "rhd": true,
                        "car_type": "modelx",
                        "seat_type": 0,
                        "timestamp": 1643590652755,
                        "eu_vehicle": true,
                        "roof_color": "None",
                        "utc_offset": -28800,
                        "wheel_type": "Turbine22Dark",
                        "spoiler_type": "Passive",
                        "trim_badging": "p100d",
                        "driver_assist": "TeslaAP3",
                        "headlamp_type": "Led",
                        "exterior_color": "Pearl",
                        "rear_seat_type": 7,
                        "rear_drive_unit": "Large",
                        "third_row_seats": "FuturisFoldFlat",
                        "car_special_type": "base",
                        "charge_port_type": "US",
                        "ece_restrictions": true,
                        "front_drive_unit": "PermanentMagnet",
                        "has_seat_cooling": true,
                        "rear_seat_heaters": 3,
                        "use_range_badging": true,
                        "can_actuate_trunks": true,
                        "efficiency_package": "Default",
                        "has_air_suspension": true,
                        "has_ludicrous_mode": true,
                        "interior_trim_type": "AllBlack",
                        "sun_roof_installed": 0,
                        "default_charge_to_max": true,
                        "motorized_charge_port": true,
                        "dashcam_clip_save_supported": true,
                        "can_accept_navigation_requests": true
                      },
                      "calendar_enabled": true,
                      "backseat_token_updated_at": "string"
                    }
                  },
                  "Example (Asleep)": {
                    "value": {
                      "state": "asleep"
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        },
        "operationId": "get-state",
        "summary": "Get Vehicle",
        "description": "Returns the latest state of a vehicle.\n\nIf **use_cache** is **true** (default), this call always returns a complete set of data and doesn't impact vehicle sleep. If the vehicle is awake, the data is usually less than 15 seconds old. If the vehicle is asleep, the data is from the time the vehicle went to sleep.\n\nIf **use_cache** is **false**, this call retrieves data using a live connection, which may return `{\"state\": \"asleep\"}` or network errors depending on vehicle connectivity."
      },
      "parameters": [
        {
          "name": "vin",
          "description": "The associated VIN.",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true,
          "deprecated": false,
          "x-last-modified": 1643747623235,
          "example": "5YJXCAE43LF123456"
        }
      ]
    },
    "/vehicles": {
      "get": {
        "parameters": [
          {
            "name": "only_active",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": true
            },
            "description": "Whether to include only active vehicles in the response."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vin": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "last_state": {
                            "title": "Vehicle State",
                            "description": "The state of a vehicle.\n\nFields will change depending on vehicle hardware and software versions.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number",
                                "example": 1492931520123456
                              },
                              "vin": {
                                "type": "string",
                                "example": "5YJXCAE43LF123456"
                              },
                              "state": {
                                "type": "string",
                                "example": "online"
                              },
                              "in_service": {
                                "type": "boolean"
                              },
                              "access_type": {
                                "type": "string",
                                "example": "OWNER"
                              },
                              "api_version": {
                                "type": "number",
                                "example": 34
                              },
                              "drive_state": {
                                "type": "object",
                                "properties": {
                                  "power": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "speed": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "heading": {
                                    "type": "number",
                                    "example": 194
                                  },
                                  "latitude": {
                                    "type": "number",
                                    "example": 40.7484
                                  },
                                  "gps_as_of": {
                                    "type": "number",
                                    "example": 1643590638
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "example": 73.9857
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "example": 1643590652755
                                  },
                                  "native_type": {
                                    "type": "string",
                                    "example": "wgs"
                                  },
                                  "shift_state": {
                                    "type": "string",
                                    "example": "P"
                                  },
                                  "native_latitude": {
                                    "type": "number",
                                    "example": 40.7484
                                  },
                                  "native_longitude": {
                                    "type": "number",
                                    "example": 73.9857
                                  },
                                  "native_location_supported": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "cruise_state": {
                                    "type": "string",
                                    "x-stoplight": {
                                      "id": "9dgo14qdzsh1v"
                                    }
                                  },
                                  "autopilot": {
                                    "type": "boolean",
                                    "x-stoplight": {
                                      "id": "yh59icj9chqg2"
                                    }
                                  }
                                }
                              },
                              "charge_state": {
                                "type": "object",
                                "properties": {
                                  "timestamp": {
                                    "type": "number",
                                    "example": 1643590652755
                                  },
                                  "charge_amps": {
                                    "type": "number",
                                    "example": 12
                                  },
                                  "charge_rate": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "battery_level": {
                                    "type": "number",
                                    "example": 89
                                  },
                                  "battery_range": {
                                    "type": "number",
                                    "example": 269.01
                                  },
                                  "charger_power": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "trip_charging": {
                                    "type": "boolean"
                                  },
                                  "charger_phases": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "charging_state": {
                                    "type": "string",
                                    "example": "Complete"
                                  },
                                  "charger_voltage": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "charge_limit_soc": {
                                    "type": "number",
                                    "example": 90
                                  },
                                  "battery_heater_on": {
                                    "type": "boolean"
                                  },
                                  "charge_port_color": {
                                    "type": "string",
                                    "example": "Off"
                                  },
                                  "charge_port_latch": {
                                    "type": "string",
                                    "example": "Engaged"
                                  },
                                  "conn_charge_cable": {
                                    "type": "string",
                                    "example": "SAE"
                                  },
                                  "est_battery_range": {
                                    "type": "number",
                                    "example": 223.25
                                  },
                                  "fast_charger_type": {
                                    "type": "string",
                                    "example": "MCSingleWireCAN"
                                  },
                                  "fast_charger_brand": {
                                    "type": "string",
                                    "example": "<invalid>"
                                  },
                                  "charge_energy_added": {
                                    "type": "number",
                                    "example": 4.64
                                  },
                                  "charge_to_max_range": {
                                    "type": "boolean"
                                  },
                                  "ideal_battery_range": {
                                    "type": "number",
                                    "example": 999
                                  },
                                  "time_to_full_charge": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "charge_limit_soc_max": {
                                    "type": "number",
                                    "example": 100
                                  },
                                  "charge_limit_soc_min": {
                                    "type": "number",
                                    "example": 50
                                  },
                                  "charge_limit_soc_std": {
                                    "type": "number",
                                    "example": 90
                                  },
                                  "fast_charger_present": {
                                    "type": "boolean"
                                  },
                                  "usable_battery_level": {
                                    "type": "number",
                                    "example": 89
                                  },
                                  "charge_enable_request": {
                                    "type": "boolean"
                                  },
                                  "charge_port_door_open": {
                                    "type": "boolean"
                                  },
                                  "charger_pilot_current": {
                                    "type": "number",
                                    "example": 12
                                  },
                                  "preconditioning_times": {
                                    "type": "string",
                                    "example": "weekdays"
                                  },
                                  "charge_current_request": {
                                    "type": "number",
                                    "example": 12
                                  },
                                  "charger_actual_current": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "minutes_to_full_charge": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "managed_charging_active": {
                                    "type": "boolean"
                                  },
                                  "off_peak_charging_times": {
                                    "type": "string",
                                    "example": "all_week"
                                  },
                                  "off_peak_hours_end_time": {
                                    "type": "number",
                                    "example": 375
                                  },
                                  "preconditioning_enabled": {
                                    "type": "boolean"
                                  },
                                  "scheduled_charging_mode": {
                                    "type": "string",
                                    "example": "Off"
                                  },
                                  "charge_miles_added_ideal": {
                                    "type": "number",
                                    "example": 4641
                                  },
                                  "charge_miles_added_rated": {
                                    "type": "number",
                                    "example": 14.5
                                  },
                                  "max_range_charge_counter": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "not_enough_power_to_heat": {
                                    "type": "boolean"
                                  },
                                  "scheduled_departure_time": {
                                    "type": "number",
                                    "example": 1643578200
                                  },
                                  "off_peak_charging_enabled": {
                                    "type": "boolean"
                                  },
                                  "charge_current_request_max": {
                                    "type": "number",
                                    "example": 12
                                  },
                                  "scheduled_charging_pending": {
                                    "type": "boolean"
                                  },
                                  "user_charge_enable_request": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "managed_charging_start_time": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "charge_port_cold_weather_mode": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "scheduled_charging_start_time": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "managed_charging_user_canceled": {
                                    "type": "boolean"
                                  },
                                  "scheduled_departure_time_minutes": {
                                    "type": "number",
                                    "example": 810
                                  },
                                  "scheduled_charging_start_time_app": {
                                    "type": "number",
                                    "example": 817
                                  },
                                  "supercharger_session_trip_planner": {
                                    "type": "boolean"
                                  },
                                  "pack_current": {
                                    "type": "number",
                                    "example": 1.4
                                  },
                                  "pack_voltage": {
                                    "type": "number",
                                    "example": 217.4
                                  },
                                  "module_temp_min": {
                                    "type": "number",
                                    "example": 21.1
                                  },
                                  "module_temp_max": {
                                    "type": "number",
                                    "example": 22.3
                                  },
                                  "energy_remaining": {
                                    "type": "number",
                                    "example": 58.435
                                  },
                                  "lifetime_energy_used": {
                                    "type": "number",
                                    "example": 12345.6,
                                    "x-stoplight": {
                                      "id": "ejac2isjco1kf"
                                    }
                                  }
                                }
                              },
                              "display_name": {
                                "type": "string",
                                "example": "Seneca"
                              },
                              "gui_settings": {
                                "type": "object",
                                "properties": {
                                  "timestamp": {
                                    "type": "number",
                                    "example": 1643590652755
                                  },
                                  "gui_24_hour_time": {
                                    "type": "boolean"
                                  },
                                  "show_range_units": {
                                    "type": "boolean"
                                  },
                                  "gui_range_display": {
                                    "type": "string",
                                    "example": "Rated"
                                  },
                                  "gui_distance_units": {
                                    "type": "string",
                                    "example": "mi/hr"
                                  },
                                  "gui_charge_rate_units": {
                                    "type": "string",
                                    "example": "kW"
                                  },
                                  "gui_temperature_units": {
                                    "type": "string",
                                    "example": "F"
                                  }
                                }
                              },
                              "option_codes": {
                                "type": "string",
                                "example": "AD15MDL3PBSBRENABT37ID3WRF3GS3PBDRLHDV2WW39BAPF0COUSBC3BCH07PC30FC3PFG31GLFRHL31HM31IL31LTPBMR31FM3BRS3HSA3PSTCPSC04SU3CT3CATW00TM00UT3PWR00AU3PAPH3AF00ZCSTMI00CDM0"
                              },
                              "climate_state": {
                                "type": "object",
                                "properties": {
                                  "timestamp": {
                                    "type": "number",
                                    "example": 1643590652755
                                  },
                                  "fan_status": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "inside_temp": {
                                    "type": "number",
                                    "example": 24.3
                                  },
                                  "defrost_mode": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "outside_temp": {
                                    "type": "number",
                                    "example": 17.5
                                  },
                                  "is_climate_on": {
                                    "type": "boolean"
                                  },
                                  "battery_heater": {
                                    "type": "boolean"
                                  },
                                  "bioweapon_mode": {
                                    "type": "boolean"
                                  },
                                  "max_avail_temp": {
                                    "type": "number",
                                    "example": 28
                                  },
                                  "min_avail_temp": {
                                    "type": "number",
                                    "example": 15
                                  },
                                  "seat_heater_left": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "hvac_auto_request": {
                                    "type": "string",
                                    "example": "On"
                                  },
                                  "seat_heater_right": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "is_preconditioning": {
                                    "type": "boolean"
                                  },
                                  "wiper_blade_heater": {
                                    "type": "boolean"
                                  },
                                  "climate_keeper_mode": {
                                    "type": "string",
                                    "example": "off"
                                  },
                                  "driver_temp_setting": {
                                    "type": "number",
                                    "example": 22.8
                                  },
                                  "left_temp_direction": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "side_mirror_heaters": {
                                    "type": "boolean"
                                  },
                                  "is_rear_defroster_on": {
                                    "type": "boolean"
                                  },
                                  "right_temp_direction": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "is_front_defroster_on": {
                                    "type": "boolean"
                                  },
                                  "seat_heater_rear_left": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "steering_wheel_heater": {
                                    "type": "boolean"
                                  },
                                  "passenger_temp_setting": {
                                    "type": "number",
                                    "example": 22.8
                                  },
                                  "seat_heater_rear_right": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "battery_heater_no_power": {
                                    "type": "boolean"
                                  },
                                  "is_auto_conditioning_on": {
                                    "type": "boolean"
                                  },
                                  "seat_heater_rear_center": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "cabin_overheat_protection": {
                                    "type": "string",
                                    "example": "On"
                                  },
                                  "seat_heater_third_row_left": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "seat_heater_third_row_right": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "remote_heater_control_enabled": {
                                    "type": "boolean"
                                  },
                                  "allow_cabin_overheat_protection": {
                                    "type": "boolean"
                                  },
                                  "supports_fan_only_cabin_overheat_protection": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "vehicle_state": {
                                "type": "object",
                                "properties": {
                                  "df": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "dr": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "ft": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "pf": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "pr": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "rt": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "locked": {
                                    "type": "boolean"
                                  },
                                  "odometer": {
                                    "type": "number",
                                    "example": 14096.485641
                                  },
                                  "fd_window": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "fp_window": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "rd_window": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "rp_window": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "example": 1643590652755
                                  },
                                  "santa_mode": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "valet_mode": {
                                    "type": "boolean"
                                  },
                                  "api_version": {
                                    "type": "number",
                                    "example": 34
                                  },
                                  "car_version": {
                                    "type": "string",
                                    "example": "2022.4 fae2af490933"
                                  },
                                  "media_state": {
                                    "type": "object",
                                    "properties": {
                                      "remote_control_enabled": {
                                        "type": "boolean"
                                      }
                                    }
                                  },
                                  "sentry_mode": {
                                    "type": "boolean"
                                  },
                                  "remote_start": {
                                    "type": "boolean"
                                  },
                                  "vehicle_name": {
                                    "type": "string",
                                    "example": "Seneca"
                                  },
                                  "dashcam_state": {
                                    "type": "string",
                                    "example": "Unavailable"
                                  },
                                  "autopark_style": {
                                    "type": "string",
                                    "example": "standard"
                                  },
                                  "homelink_nearby": {
                                    "type": "boolean"
                                  },
                                  "is_user_present": {
                                    "type": "boolean"
                                  },
                                  "software_update": {
                                    "type": "object",
                                    "properties": {
                                      "status": {
                                        "type": "string",
                                        "example": "available"
                                      },
                                      "version": {
                                        "type": "string",
                                        "example": "2022.4"
                                      },
                                      "install_perc": {
                                        "type": "number",
                                        "example": 1
                                      },
                                      "download_perc": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "expected_duration_sec": {
                                        "type": "number",
                                        "example": 2700
                                      }
                                    }
                                  },
                                  "speed_limit_mode": {
                                    "type": "object",
                                    "properties": {
                                      "active": {
                                        "type": "boolean"
                                      },
                                      "pin_code_set": {
                                        "type": "boolean"
                                      },
                                      "max_limit_mph": {
                                        "type": "number",
                                        "example": 90
                                      },
                                      "min_limit_mph": {
                                        "type": "number",
                                        "example": 50
                                      },
                                      "current_limit_mph": {
                                        "type": "number",
                                        "example": 84
                                      }
                                    }
                                  },
                                  "tpms_pressure_fl": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "tpms_pressure_fr": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "tpms_pressure_rl": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "tpms_pressure_rr": {
                                    "format": "nullable",
                                    "type": "string"
                                  },
                                  "autopark_state_v2": {
                                    "type": "string",
                                    "example": "standby"
                                  },
                                  "calendar_supported": {
                                    "type": "boolean"
                                  },
                                  "last_autopark_error": {
                                    "type": "string",
                                    "example": "no_error"
                                  },
                                  "center_display_state": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "remote_start_enabled": {
                                    "type": "boolean"
                                  },
                                  "homelink_device_count": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "sentry_mode_available": {
                                    "type": "boolean"
                                  },
                                  "remote_start_supported": {
                                    "type": "boolean"
                                  },
                                  "smart_summon_available": {
                                    "type": "boolean"
                                  },
                                  "notifications_supported": {
                                    "type": "boolean"
                                  },
                                  "parsed_calendar_supported": {
                                    "type": "boolean"
                                  },
                                  "dashcam_clip_save_available": {
                                    "type": "boolean"
                                  },
                                  "summon_standby_mode_enabled": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "backseat_token": {
                                "format": "nullable",
                                "type": "string"
                              },
                              "vehicle_config": {
                                "type": "object",
                                "properties": {
                                  "plg": {
                                    "type": "boolean"
                                  },
                                  "pws": {
                                    "type": "boolean"
                                  },
                                  "rhd": {
                                    "type": "boolean"
                                  },
                                  "car_type": {
                                    "type": "string",
                                    "example": "modelx"
                                  },
                                  "seat_type": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "example": 1643590652755
                                  },
                                  "eu_vehicle": {
                                    "type": "boolean"
                                  },
                                  "roof_color": {
                                    "type": "string",
                                    "example": "None"
                                  },
                                  "utc_offset": {
                                    "type": "number",
                                    "example": -28800
                                  },
                                  "wheel_type": {
                                    "type": "string",
                                    "example": "Turbine22Dark"
                                  },
                                  "spoiler_type": {
                                    "type": "string",
                                    "example": "Passive"
                                  },
                                  "trim_badging": {
                                    "type": "string",
                                    "example": "p100d"
                                  },
                                  "driver_assist": {
                                    "type": "string",
                                    "example": "TeslaAP3"
                                  },
                                  "headlamp_type": {
                                    "type": "string",
                                    "example": "Led"
                                  },
                                  "exterior_color": {
                                    "type": "string",
                                    "example": "Pearl"
                                  },
                                  "rear_seat_type": {
                                    "type": "number",
                                    "example": 7
                                  },
                                  "rear_drive_unit": {
                                    "type": "string",
                                    "example": "Large"
                                  },
                                  "third_row_seats": {
                                    "type": "string",
                                    "example": "FuturisFoldFlat"
                                  },
                                  "car_special_type": {
                                    "type": "string",
                                    "example": "base"
                                  },
                                  "charge_port_type": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "ece_restrictions": {
                                    "type": "boolean"
                                  },
                                  "front_drive_unit": {
                                    "type": "string",
                                    "example": "PermanentMagnet"
                                  },
                                  "has_seat_cooling": {
                                    "type": "boolean"
                                  },
                                  "rear_seat_heaters": {
                                    "type": "number",
                                    "example": 3
                                  },
                                  "use_range_badging": {
                                    "type": "boolean"
                                  },
                                  "can_actuate_trunks": {
                                    "type": "boolean"
                                  },
                                  "efficiency_package": {
                                    "type": "string",
                                    "example": "Default"
                                  },
                                  "has_air_suspension": {
                                    "type": "boolean"
                                  },
                                  "has_ludicrous_mode": {
                                    "type": "boolean"
                                  },
                                  "interior_trim_type": {
                                    "type": "string",
                                    "example": "AllBlack"
                                  },
                                  "sun_roof_installed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "default_charge_to_max": {
                                    "type": "boolean"
                                  },
                                  "motorized_charge_port": {
                                    "type": "boolean"
                                  },
                                  "dashcam_clip_save_supported": {
                                    "type": "boolean"
                                  },
                                  "can_accept_navigation_requests": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "calendar_enabled": {
                                "type": "boolean"
                              },
                              "backseat_token_updated_at": {
                                "format": "nullable",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "results": [
                        {
                          "vin": "5YJXCAE43LF123456",
                          "is_active": true,
                          "last_state": {
                            "id": 1492931520123456,
                            "vin": "5YJXCAE43LF123456",
                            "id_s": "1492931520123456",
                            "color": "string",
                            "state": "online",
                            "tokens": [
                              "ca87a16a64123456"
                            ],
                            "user_id": 1311857,
                            "in_service": true,
                            "vehicle_id": 1349238573,
                            "access_type": "OWNER",
                            "api_version": 34,
                            "drive_state": {
                              "power": 0,
                              "speed": "string",
                              "heading": 194,
                              "latitude": 40.7484,
                              "gps_as_of": 1643590638,
                              "longitude": 73.9857,
                              "timestamp": 1643590652755,
                              "native_type": "wgs",
                              "shift_state": "P",
                              "native_latitude": 40.7484,
                              "native_longitude": 73.9857,
                              "native_location_supported": 1
                            },
                            "charge_state": {
                              "timestamp": 1643590652755,
                              "charge_amps": 12,
                              "charge_rate": 0,
                              "battery_level": 89,
                              "battery_range": 269.01,
                              "charger_power": 0,
                              "trip_charging": true,
                              "charger_phases": "string",
                              "charging_state": "Complete",
                              "charger_voltage": 0,
                              "charge_limit_soc": 90,
                              "battery_heater_on": true,
                              "charge_port_color": "Off",
                              "charge_port_latch": "Engaged",
                              "conn_charge_cable": "SAE",
                              "est_battery_range": 223.25,
                              "fast_charger_type": "MCSingleWireCAN",
                              "fast_charger_brand": "<invalid>",
                              "charge_energy_added": 4.64,
                              "charge_to_max_range": true,
                              "ideal_battery_range": 999,
                              "time_to_full_charge": 0,
                              "charge_limit_soc_max": 100,
                              "charge_limit_soc_min": 50,
                              "charge_limit_soc_std": 90,
                              "fast_charger_present": true,
                              "usable_battery_level": 89,
                              "charge_enable_request": true,
                              "charge_port_door_open": true,
                              "charger_pilot_current": 12,
                              "preconditioning_times": "weekdays",
                              "charge_current_request": 12,
                              "charger_actual_current": 0,
                              "minutes_to_full_charge": 0,
                              "managed_charging_active": true,
                              "off_peak_charging_times": "all_week",
                              "off_peak_hours_end_time": 375,
                              "preconditioning_enabled": true,
                              "scheduled_charging_mode": "Off",
                              "charge_miles_added_ideal": 4641,
                              "charge_miles_added_rated": 14.5,
                              "max_range_charge_counter": 0,
                              "not_enough_power_to_heat": true,
                              "scheduled_departure_time": 1643578200,
                              "off_peak_charging_enabled": true,
                              "charge_current_request_max": 12,
                              "scheduled_charging_pending": true,
                              "user_charge_enable_request": "string",
                              "managed_charging_start_time": "string",
                              "charge_port_cold_weather_mode": "string",
                              "scheduled_charging_start_time": "string",
                              "managed_charging_user_canceled": true,
                              "scheduled_departure_time_minutes": 810,
                              "scheduled_charging_start_time_app": 817,
                              "supercharger_session_trip_planner": true
                            },
                            "display_name": "Seneca",
                            "gui_settings": {
                              "timestamp": 1643590652755,
                              "gui_24_hour_time": true,
                              "show_range_units": true,
                              "gui_range_display": "Rated",
                              "gui_distance_units": "mi/hr",
                              "gui_charge_rate_units": "kW",
                              "gui_temperature_units": "F"
                            },
                            "option_codes": "AD15MDL3PBSBRENABT37ID3WRF3GS3PBDRLHDV2WW39BAPF0COUSBC3BCH07PC30FC3PFG31GLFRHL31HM31IL31LTPBMR31FM3BRS3HSA3PSTCPSC04SU3CT3CATW00TM00UT3PWR00AU3PAPH3AF00ZCSTMI00CDM0",
                            "climate_state": {
                              "timestamp": 1643590652755,
                              "fan_status": 0,
                              "inside_temp": 24.3,
                              "defrost_mode": 0,
                              "outside_temp": 17.5,
                              "is_climate_on": true,
                              "battery_heater": true,
                              "bioweapon_mode": true,
                              "max_avail_temp": 28,
                              "min_avail_temp": 15,
                              "seat_heater_left": 0,
                              "hvac_auto_request": "On",
                              "seat_heater_right": 0,
                              "is_preconditioning": true,
                              "wiper_blade_heater": true,
                              "climate_keeper_mode": "off",
                              "driver_temp_setting": 22.8,
                              "left_temp_direction": 0,
[...]
